# Data Preprocessing Notebook

## Purpose
This notebook focuses on **loading**, **cleaning**, and **preparing** the raw dataset for analysis. The cleaned dataset will be saved for further exploratory data analysis and modeling.

## Objectives
1. Load the raw dataset and inspect its structure.
2. Handle missing values in critical columns.
3. Perform data cleaning tasks like removing duplicates and correcting data types.
4. Encode categorical variables into numerical format for modeling.
5. Save the cleaned dataset for further analysis.

---

In [67]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

## Load the Dataset

Load the raw dataset from the `data/raw/` folder and inspect its structure using `.head()`, `.info()`, and `.describe()`.

In [68]:
melbourne_file_path = '/Users/ebythomas/Documents/GitHub/Melbourne_Housing_Analytics/data/raw/house-prices-by-small-area-sale-year.csv'
housing_data = pd.read_csv(melbourne_file_path)

In [69]:
housing_data.describe()

         sale_year  median_price  transaction_count
count   347.000000  3.190000e+02         347.000000
mean   2008.268012  6.612860e+05         277.051873
std       4.928411  8.863439e+05         480.421188
min    2000.000000  0.000000e+00           1.000000
25%    2004.000000  3.662810e+05          44.500000
50%    2008.000000  4.873000e+05         118.000000
75%    2013.000000  6.787500e+05         224.000000
max    2016.000000  1.430000e+07        3766.000000

In [70]:
housing_data.head()

,sale_year,small_area,type,median_price,transaction_count
0,2000,Carlton,House/Townhouse,316250.0,116
1,2000,Carlton,Residential Apartment,220000.0,309
2,2000,East Melbourne,House/Townhouse,622500.0,42
3,2000,East Melbourne,Residential Apartment,295000.0,139
4,2000,Kensington,House/Townhouse,215250.0,258

In [71]:
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sale_year          347 non-null    int64
 1   small_area         340 non-null    object
 2   type               347 non-null    object
 3   median_price       319 non-null    float64
 4   transaction_count  347 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 13.7+ KB

## Inspect and Handle Missing Values

Identify missing values in `small_area` and `median_price`. Decide whether to impute, remove rows, or handle them another way.

In [72]:
#get names of columns with  missing values
cols_with_missing =[col for col in housing_data.columns
                     if housing_data[col].isnull().any()]
cols_with_missing

['small_area', 'median_price']

In [73]:
# Calculate the percentage of missing values
missing_percentage = (housing_data.isnull().sum() / len(housing_data)) * 100
print(missing_percentage)

sale_year            0.000000
small_area           2.017291
type                 0.000000
median_price         8.069164
transaction_count    0.000000
dtype: float64

 for small_area columns ,Since missing percentage is low (2 %) , so can drop those rows

In [74]:
housing_data.dropna(subset=['small_area'],inplace=True)

Since median_price is a numerical column and missing percentage is 8 %, we can Impute with Median (grouped by "type" for more context-aware imputation)

In [75]:
housing_data['median_price'] = housing_data.groupby('type')['median_price'].transform(lambda x: x.fillna(x.median()))

In [76]:
# recheck for nulls to ensure no issues remain:

print(housing_data.isnull().sum())

sale_year            0
small_area           0
type                 0
median_price         0
transaction_count    0
dtype: int64

## Data Cleaning

Perform the following tasks:
1. Drop duplicate rows if any.
2. Ensure appropriate data types (e.g., convert `sale_year` to integer).

In [77]:

duplicate_count = housing_data.duplicated().sum()
print(f"number of duplicate rows in the dataset : {duplicate_count}")

number of duplicate rows in the dataset : 0

 Check for data types of the dataset

In [78]:
housing_data.dtypes

sale_year              int64
small_area            object
type                  object
median_price         float64
transaction_count      int64
dtype: object

## Categorical Encoding

Encode the `type` and `small_area` columns using **Label Encoding** to convert categorical data into numerical format.

In [79]:
# Get number of unique entries in each column with categorical data
categorical_columns = housing_data.select_dtypes(include=['object']).columns

for col in categorical_columns:
    print(f"\n Unique values in {col} :{housing_data[col].unique()}")

 Unique values in small_area :['Carlton' 'East Melbourne' 'Kensington' 'Melbourne (CBD)'
 'Melbourne (Remainder)' 'North Melbourne' 'Parkville' 'South Yarra'
 'West Melbourne (Residential)' 'Southbank' 'Docklands']

 Unique values in type :['House/Townhouse' 'Residential Apartment']

In [80]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding to the 'type' column
housing_data['type_encoded'] = label_encoder.fit_transform(housing_data['type'])

# Create and print the mapping for 'type'
type_mapping = dict(zip(label_encoder.transform(label_encoder.classes_), label_encoder.classes_))
print("Label Encoding Mapping for 'type' (Encoded Value → Actual Value):")
for encoded, actual in type_mapping.items():
    print(f"{encoded} → {actual}")

# Apply Label Encoding to the 'small_area' column
housing_data['small_area_encoded'] = label_encoder.fit_transform(housing_data['small_area'])

# Create and print the mapping for 'small_area'
small_area_mapping = dict(zip(label_encoder.transform(label_encoder.classes_), label_encoder.classes_))
print("\nLabel Encoding Mapping for 'small_area' (Encoded Value → Actual Value):")
for encoded, actual in small_area_mapping.items():
    print(f"{encoded} → {actual}")

Label Encoding Mapping for 'type' (Encoded Value → Actual Value):
0 → House/Townhouse
1 → Residential Apartment

Label Encoding Mapping for 'small_area' (Encoded Value → Actual Value):
0 → Carlton
1 → Docklands
2 → East Melbourne
3 → Kensington
4 → Melbourne (CBD)
5 → Melbourne (Remainder)
6 → North Melbourne
7 → Parkville
8 → South Yarra
9 → Southbank
10 → West Melbourne (Residential)

Drop the original 'small_area' and 'type' columns as we converted into those

In [59]:


housing_data.drop(['small_area','type'],axis=1, inplace =True)

Lets have a look at the cleaned preprocessed dataset

In [61]:
housing_data.head()

,sale_year,median_price,transaction_count,type_encoded,small_area_encoded
0,2000,316250.0,116,0,0
1,2000,220000.0,309,1,0
2,2000,622500.0,42,0,2
3,2000,295000.0,139,1,2
4,2000,215250.0,258,0,3

In [63]:
housing_data.shape

(340, 5)

## Save Cleaned Data

Save the cleaned dataset to the `data/processed/` folder as `cleaned_housing_data.csv` for use in subsequent analysis.

In [65]:
processed_path = '/Users/ebythomas/Documents/GitHub/Melbourne_Housing_Analytics/data/processed/cleaned_housing_data.csv'
housing_data.to_csv(processed_path, index =False)


print(f"Cleaned dataset saved to {processed_path}")

Cleaned dataset saved to /Users/ebythomas/Documents/GitHub/Melbourne_Housing_Analytics/data/processed/cleaned_housing_data.csv